*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    /* min-height: 100vh; */
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 140px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#highscoreBox{
    position: absolute;
    top: 29px;
    right: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(94, 182, 94), rgb(190, 147, 147));
    width: 90vmin;
    height: 92vmin;
    justify-content: center;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background: linear-gradient(rgb(207, 34, 34), rgb(161, 161, 32));
    border: 2px solid rgb(187, 24, 187);
    transform: scale(1.02);
    border-radius: 10px;
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    text-align: center;
    color: black;
}